@model List<Product.Models.Handle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
<div class="d-flex flex-column">
	<div class="d-flex flex-row">
		<div class="flex-grow-1 w-35">
			<div class="background_l">
				<h1 class="text-center">Danh sách sản phẩm</h1>
				<div class="table-container">
					<table id="myTable" class="table table-striped">
						@if (@Model.Count == 0)
						{
							<caption>
								Không có dữ liệu
							</caption>
						}
						<thead>
							<tr>
								<th scope="col">STT</th>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Số lượng</th>
								<th scope="col">Đơn giá</th>
								<th scope="col">Tạm tính</th>
								<th scope="col">Thao tác</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var handle in Handle.GetHandleList())
							{
								<tr>
									<td>@handle.SoThuTu</td>
									<td>@handle.TenSanPham</td>
									<td>@handle.SoLuong</td>
									<td>@handle.DonGia.ToString("n0")</td>
									<td>@handle.TamTinh.ToString("n0")</td>
									<td>
										<form method="post" action="/Sale/DeleteAction">
											<input type="hidden" name="id" value="@handle.SoThuTu" />
											<button type="submit">
												<i class="fa fa-trash" style="color: red; cursor: pointer;"></i>
											</button>
										</form>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>

				<div id="totalAmount">Tổng thành tiền: <span id="tongtien">@Handle.tinhTongTien.ToString("n0")</span> đồng</div>
			</div>
		</div>
		<div class="background_r">
			<h1 class="text-center">Thông tin sản phẩm</h1>
			<div class="input-border">
				<form id="myform" name="myform" action="/Sale/AddToCart" method="post">
					<div class="no-border left-align">
						<label for="sanPham">Tên sản phẩm *</label>
						<input type="text" id="sanPham" name="sanPham" required />
						<label for="soLuong">Số lượng *</label>
						<input type="text" id="soLuong" name="soLuong" required />
						<label for="donGia">Đơn giá bán *</label>
						<input type="text" id="donGia" name="donGia" required />
					</div>
				</form>
			</div>
			<p>(*): Thông tin bắt buộc</p>
			<form action="/Sale/ThanhToan" method="post">
				<div class="button-container">
					<button type="submit" id="themvao" form="myform" class="button">Thêm vào giỏ hàng</button>
					<button type="submit" id="thanhtoan" class="button">Thanh toán</button>
				</div>
			</form>
		</div>
	</div>
</div>